<!DOCTYPE html>
<html lang="en">

<head>
  <title>NongkiSkuy</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="./favicon.ico" />
  <meta name="keywords" content="NongkiSkuy" />
  <meta name="description" content="Katalog Restaurant" />
</head>

<body>
  <header class="hero">
    <nav>
      <div class="brand">
        <div class="logo-content">
          <img src="../images/logo.png" alt="logo" class="logo-img">
          <a href="/" class="font-brand"> NongkiSkuy </a>
        </div>
        <div class="container">
          <a href="#content" class="link"></a>
          <button class="menu" aria-label="dropdown mobile" type="button">
            <span class="fa fa-bars"></span>
          </button>
        </div>
      </div>
      <ul class="navbar-list">
        <li class="navbar-item"><a href="/">Home</a></li>
        <li class="navbar-item"><a href="#">Favorite</a></li>
        <li class="navbar-item">
          <a href="https://www.linkedin.com/in/akhyarazamta/" target="_blank" rel="noopener noreferrer">About US</a>
        </li>
      </ul>
    </nav>
    <div class="container_text" tabindex="0">
      <h1 class="container_title">Welcome to NongkiSkuy</h1>
      <p class="container_subtitle">Irresistible Flavors, Unforgettable Experience</p>
      <a href="#content" class="btn">Read More</a>
    </div>
  </header>
  <main>
    <div id="content" class="content_container">
      <h2 class="content_title" tabindex="0">Innovative Menus, Classic Charm</h2>
      <section id="explore"></section>
    </div>
  </main>
  <footer tabindex="0">
    <p>Copyright © 2023 - NongkiSkuy</p>
  </footer>
</body>

</html>