main {
  width: 100%;
  margin: 0 auto;
}

img {
  border-style: none;
}

a {
  background-color: transparent;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  font-size: 100%;
  font-family: inherit;
  margin: 0;
}

button,
select {
  text-transform: none;
}